<div>
    <div class="gmail_signature" data-smartmail="gmail_signature" dir="ltr">
        <div dir="ltr">
            <div>
                <div dir="ltr">
                    <div style="font-size:small"><br></div>
                    <div style="font-size:small">
                        <font size="2" style="color:rgb(136,136,136);font-family:tahoma,sans-serif">CS Department
                        </font><span
                            style="color:rgb(136,136,136);font-family:tahoma,sans-serif;font-size:13.3333px"><br></span><img
                            src="https://ci4.googleusercontent.com/proxy/WiAoPA9LOfKhfds_khZT64XfwRw6E80PyjCZZ2KdRfGxOCK5Kudjj-OS_6-6jauknHT604QSO9mfKrKqET8EYUpuAFGARGGirgshadlCvMWcFpUyvlWZSycqzclNVdta9TpiL_Q88U71TXWb9YcaoCk=s0-d-e1-ft#https://docs.google.com/a/enitiallab.com/uc?id=0BxeyxatiCHEuS2pKNUtLa3hUOU0&amp;export=download"
                            style="color:rgb(136,136,136);font-family:tahoma,sans-serif;font-size:12.8px"><br
                            style="color:rgb(136,136,136);font-family:tahoma,sans-serif;font-size:12.8px"><b
                            style="color:rgb(136,136,136);font-family:tahoma,sans-serif;font-size:12.8px"><span
                            style="font-size:9pt">
                                            <font color="#404040">Furniture of America E-Commerce&nbsp;by Enitial Lab<br></font>
                                        </span></b>
                        <font size="1" style="color:rgb(136,136,136);font-family:tahoma,sans-serif"><span
                                style="color:gray">19635 E Walnut Drive North, City of Industry, CA
                                            91789<br></span><span style="color:gray">Tel:&nbsp;<a
                                href="tel:%28888%29%20980-5122" style="color:rgb(17,85,204)"
                                target="_blank" value="+18889805122">(888) 980-5122</a>&nbsp;</span><b
                                style="color:gray"></b><span style="color:gray">&nbsp;|&nbsp;</span><span
                                style="color:gray">&nbsp;<a href="www.foagroup.com" style="color:rgb(17,85,204)"
                                                            target="_blank">www.foagroup.com</a><br>Email: <a
                                href="mailto:cs.ec@foagroup.com"><span
                                style="font-weight: 400;">cs.ec@foagroup.com</span></a></span><span
                                style="color:gray"></span> </font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>