{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/OMSOrderApp/web_scan_page">
        <img src="{% static 'FPL Logo 2.png' %}" style="width: 30px; height: 30px">
        <div class="sidebar-brand-text mx-3">FPLS <sup>{{request.session.department}}</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#scan_app_menu"
            aria-expanded="true" aria-controls="scan_app_menu">
            <i class="fas fa-fw fa-file-export"></i>
            <span>ScanApp</span>
        </a>
        <div id="scan_app_menu" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Scan Apps:</h6>
                <a class="collapse-item" href="/OMSOrderApp/web_scan_page">Wed Scan Page</a>
                <a class="collapse-item" href="/OMSOrderApp/web_scan_report">Wed Scan Report</a>
                <a class="collapse-item" href="/OMSOrderApp/web_scan_checking_page">Pending Order - Checking</a>
                <a class="collapse-item" href="/OMSOrderApp/ecang_order_dashboard_page">Order Dashboard</a>
<!--                <a class="collapse-item" href="/OMSOrderApp/fpl_ils_order_process">FPL & ILS Order Process</a>-->
                {% if request.session.department == "IT" %}
                <a class="collapse-item" href="/OMSOrderApp/oms_receiving_order_and_product">CFSFPL1 Product&Receiving Create</a>
                <a class="collapse-item" href="/OMSOrderApp/fedex_tracking_status_checking">FedEx Tracking Status Checking</a>
                {% endif %}
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ostk_menu"
            aria-expanded="true" aria-controls="ostk_menu">
            <i class="fas fa-fw fa-file-export"></i>
            <span>OSTKApi</span>
        </a>
        <div id="ostk_menu" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">OSTK Apps:</h6>
                <a class="collapse-item" href="/OSTKApiApp/ostk_inventory">OSTK Inventory</a>
                <a class="collapse-item" href="/OSTKApiApp/ostk_po_receipt">OSTK PO Receipts</a>
                <a class="collapse-item" href="/OSTKApiApp/tx_ostk_orders">TX OSTK Orders</a>
                <a class="collapse-item" href="/OSTKApiApp/lax_ostk_orders">LAX OSTK Orders</a>
                <h6 class="collapse-header">TOOLS:</h6>
                <a class="collapse-item" href="/OSTKApiApp/ostk_po_import">PO Import</a>
                <a class="collapse-item" href="/OSTKApiApp/ostk_upc_export">UPC Export</a>
                <a class="collapse-item" href="/OSTKApiApp/ostk_overages">Overage Handler</a>
                <a class="collapse-item" href="/OSTKApiApp/ostk_adj">Inventory Adjustment</a>
                <a class="collapse-item" href="/OSTKApiApp/ostk_sh">Order Cancellation</a>
            </div>
        </div>
    </li>

    {% if request.session.department == "IT" %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#order_app_menu"
            aria-expanded="true" aria-controls="order_app_menu">
            <i class="fas fa-fw fa-file-export"></i>
            <span>Ticket</span>
        </a>
        <div id="order_app_menu" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/TicketApp/create_ticket">Create Ticket</a>
                <a class="collapse-item" href="/TicketApp/ticket_dashboard">Ticket Dashboard</a>
            </div>
        </div>
    </li>
    {% endif %}
    <!--  End  -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
<!--    <div class="sidebar-card d-none d-lg-flex">-->
<!--        <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">-->
<!--        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>-->
<!--        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>-->
<!--    </div>-->

</ul>
<!-- End of Sidebar -->