{% extends 'new_home/include/_base.html' %}
{% load static %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} messages" role="alert">
    <li>
        {% if message.tags == "success" %}
        <i class="fas fa-check"></i>
        {% else %}
        <i class="fas fa-times"></i>
        {% endif %}
        {{ message }}
    </li>
</div>
{% endfor %}
{% endif %}

<hr>

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-2">
            <select class="form-control" name="search_select" required>
                <option value="TrackingNo">TrackingNo</option>
                <option value="ContainerNo">ContainerNo</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input class="form-control" id="search_input" name="search_input" type="text" required>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-info btn-block short_loading" type="submit" name="search_btn">
                Search
            </button>
        </div>
    </div>
</form>


<hr class="sidebar-divider">

{% endblock content %}


<!-- JavaScript -->
{% block scripts %}


{% endblock scripts %}

