{% extends 'new_home/include/_base.html' %}
{% load static %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} messages" role="alert">
    <li>
        {% if message.tags == "success" %}
        <i class="fas fa-check"></i>
        {% else %}
        <i class="fas fa-times"></i>
        {% endif %}
        {{ message }}
    </li>
</div>
{% endfor %}
{% endif %}

<hr class="sidebar-divider">
<label>Export order file from FDW WMS system (max 500 rows each file), and then import the file here</label>
<div class="row">
    <!-- Content Column -->
    <div class="col-md-10">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Select file to import/选择文件:</label>
                    <input class="form-control" name="import_file_path" required type="file">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-block short_loading" name="import_button" type="submit"
                            data-loading-text="<i class='fas fa-sync fa-spin'></i> Importing...">
                        <i class="fas fa-cloud-upload-alt"></i> Import/上传
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

<!-- JavaScript -->
{% block scripts %}

<script>
$(document).ready(function () {
    $('body').keypress(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            $("#generate_btn").click();
        }
    });

    $('.short_loading').on('click', function() {
        var $this = $(this);
        var loadingText = '<i class="fas fa-sync fa-spin"></i> Loading...';
        if ($(this).html() !== loadingText) {
          $this.disabled = true;
          $this.data('original-text', $(this).html());
          $this.html(loadingText);
        }
        setTimeout(function() {
          $this.html($this.data('original-text'));
        }, 2000);
    });

    setTimeout(function() {
        $('.messages').fadeOut('slow');
    }, 10000); // <-- time in milliseconds
});

</script>
{% endblock scripts %}

