{% extends 'new_home/include/_base.html' %}
{% load static %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} messages" role="alert">
    <li>
        {% if message.tags == "success" %}
        <i class="fas fa-check"></i>
        {% else %}
        <i class="fas fa-times"></i>
        {% endif %}
        {{ message }}
    </li>
</div>
{% endfor %}
{% endif %}
<hr>
<!-- Content Row -->
<div class="row">
    <!-- Begin datatable Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">{{df_title}}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered scan_table" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            {% for column in display_columns %}
                            <th>{{column}}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            {% for column in display_columns %}
                            <th>{{column}}</th>
                            {% endfor %}
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for r in display_data %}
                        <tr>
                            <td>{{ r.trailer_number }}</td>
                            <td>{{ r.carrier }}</td>
                            <td>{{ r.tracking_number|stringformat:"s" }}</td>
                            <td>{{ r.create_date|date:'m/d/Y H:i:s' }}</td>
                            <td>{{ r.username}}</td>
                            <td>{{ r.order_code|default_if_none:""}}</td>
                            <td>{{ r.product_code|default_if_none:""}}</td>
                        </tr>
                        {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<hr class="sidebar-divider">

{% endblock content %}

<!-- JavaScript -->
{% block scripts %}

<script>
$(document).ready(function () {
    $('body').keypress(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            $("#generate_btn").click();
        }
    });

    $('.short_loading').on('click', function() {
        var $this = $(this);
        var loadingText = '<i class="fas fa-sync fa-spin"></i> Loading...';
        if ($(this).html() !== loadingText) {
          $this.disabled = true;
          $this.data('original-text', $(this).html());
          $this.html(loadingText);
        }
        setTimeout(function() {
          $this.html($this.data('original-text'));
        }, 10000);
    });
});

</script>
{% endblock scripts %}

