<!-- Begin datatable Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold">{{df_title}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered report_table" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        {% for column in df_columns %}
                        <th>{{column}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        {% for column in df_columns %}
                        <th>{{column}}</th>
                        {% endfor %}
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for i, r in df.iterrows %}
                    <tr>
                        <td>{{ r.customer_code }}</td>
                        <td>{{ r.Inventory_Remain }}</td>
                        <td>{{ r.Will_Outbound }}</td>
                        <td>{{ r.Will_Inbound }}</td>
                    </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->